<div>
  <h2>Producto: {{product.title}}</h2>
  <p><strong>Descripción:</strong> {{product.description}}</p>
  <p><strong>Código:</strong> {{product.code}}</p>
  <p><strong>Precio:</strong> ${{product.price}}</p>
  <p><strong>Stock disponible:</strong> {{product.stock}}</p>
  <p><strong>Categoría:</strong> {{product.category}}</p>

  <!-- Miniaturas -->
  <h3>Thumbnails</h3>
  <ul>
    {{#each product.thumbnails}}
      <li>
        <a href='{{this}}' target='_blank'>Ver imagen</a>
      </li>
    {{/each}}
  </ul>
</div>